[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/sh4asm"]
	path = external/sh4asm
	url = https://github.com/washingtondc-emu/sh4asm
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/aquynh/capstone
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent
[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "external/libchdr"]
	path = external/libchdr
	url = https://github.com/rtissera/libchdr
